@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .p-size {
    @apply mt-5 mx-0 mb-0 max-w-xl;
  }

  .regular-12 {
    @apply text-xs font-normal;
  }

  .regular-14 {
    @apply text-sm font-normal;
  }

  .regular-16 {
    @apply text-base font-normal;
  }

  .regular-18 {
    @apply text-lg font-medium;
  }

  .bold-20 {
    @apply text-xl font-bold;
  }

  .bold-24 {
    @apply text-2xl font-bold;
  }

  .bold-30 {
    @apply text-3xl font-bold;
  }

  .mobile-btn {
    @apply relative z-30 w-fit h-fit flex items-center justify-center text-inherit p-4 -mr-4 border-0 bg-transparent ease-linear transition-opacity cursor-pointer;
  }

  .mobile-menu {
    @apply fixed top-0 right-0 bottom-0 z-10 h-screen min-w-[75vw] max-w-[400px] flex items-center justify-center py-12 px-3 outline-none bg-light-navy visible translate-x-[0vw] shadow-mobile shadow-light-navy transition-all;
  }

  .mobile-nav {
    @apply w-full flex flex-col items-center justify-between text-lightest-slate font-monts text-center;
  }

  .section-layout {
    @apply min-h-screen h-dvh flex flex-col items-start justify-center p-0;
  }

  .skills-layout {
    @apply gap-x-2.5 grid grid-cols-skills p-0 mt-5 list-none overflow-hidden;
  }

  .skills-list {
    @apply relative regular-12 font-monts pl-5 mb-2.5 before:content-['▹'] before:absolute before:left-0 before:inset-y-auto before:regular-14 before:text-green;
  }

  .img-wrapper {
    @apply relative z-10 w-full align-middle block rounded bg-green shadow-navy ease-slow-transition before:absolute before:top-0 before:left-0 before:block before:w-full before:h-full before:rounded before:bg-navy before:ease-slow-transition before:mix-blend-screen hover:outline-none hover:-translate-y-1 hover:-translate-x-1 hover:shadow-navy after:absolute after:-z-10 after:left-4 after:top-4 after:size-full after:rounded after:bg-transparent after:border-green after:border-2;
  }
}

@layer utilities {
  .big-headings {
    font-size: clamp(40px, 8vw, 80px);
  }

  .email-btn {
    font-family: var(--font-mono);
    font-size: 14px;
    line-height: 1;
    color: var(--green);
    margin:50px 0 0 0;
    padding:1.25rem 1.75rem;
    border-radius: 4px;
    border: 1px solid var(--green);
    text-decoration: none;
    background-color: transparent;
    transition: var(--transition);
  }

  .email-btn:hover {
    outline:none;
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 0 0 var(--green);
  }

  .resume-btn {
    font-family: var(--font-mono);
    line-height: 1;
    font-size: 14px;
    color: var(--green);
    padding:0.75rem 1rem;
    border: 1px solid var(--green);
    border-radius: 4px;
    margin-left: 15px;
    text-decoration: none;
    transition: var(--transition);
    background-color: transparent;
  }

  .resume-btn:hover {
    outline:none;
    transform: translate(-4px, -4px);
    box-shadow: 3px 3px 0 0 var(--green);
  }

  .ham-icon {
    position: absolute;
    z-index: 20;
    top:0;
    right:0;
    height: 54px;
    width: 46px;
    border-radius: 4px;
    color: var(--green);
    transform: rotate(0deg);
    transition: transform 0.22s cubic-bezier(0.55, 0.55, 0.675, 0.19) 0s;
  }

  .ham-icon:focus {
    outline-offset: 3px;
    outline: 2px dashed var(--green);
  }

  .resume-mobile {
    width: max-content;
    height: auto;
    padding:18px 50px;
    margin:10% auto 0px;
    font-family: var(--font-mono);
    font-size: 14px;
    line-height: 1;
    color: var(--green);
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid var(--green);
    background-color: transparent;
    transition: var(--transition);
  }

  .resume-mobile:hover {
    outline:none;
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 0 0 var(--green);
  }

  .custom-text {
    font-size: clamp(14px, 5vw, 16px);
  }

  .numbered-headings {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin:10px 0 40px;
    white-space: nowrap;
    font-size: clamp(26px, 5vw, 32px);
    color:var(--lightest-slate);
    font-weight: 600;
  }

  .numbered-headings::before {
    position: relative;
    bottom: -4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: clamp(16px, 3vw, 20px);
  }

  .numbered-headings::after {
    position: relative;
    content: "";
    display: block;
    top: 5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
  }
}

*,*::before,*::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
/* Fonts */
  --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;

  --white:#e6f1ff;
  --slate:#8892b0;
  --dark-slate: #495670;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --navy: #0a192f;
  --dark-navy: #020c1b;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --navy-shadow: rgba(2,12,27,0.7);
  --green:#64ffda;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

html {
  scrollbar-color: var(--dark-slate) var(--navy);
}

body {
  font-family: var(--font-sans);
  color: var(--slate);
  font-size: 18px;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--navy);
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition:var(--transition);
}

ol > li {
  font-size: clamp(14px ,4vw, 18px);
}

section {
  max-width: 1000px;
  margin:0px auto;
}